version: x.{build}

environment:
  matrix:
    - nodejs_version: "11"

image: Visual Studio 2017

init:
  - git clone https://github.com/microsoft/vscode C:\vscode
  - cd /d C:\vscode
  - npm install --global windows-build-tools --vs2015
  - npm install yarn@latest -g
  - yarn add oniguruma
  - yarn add native-watchdog
  - node C:\Users\appveyor\AppData\Roaming\npm\node_modules\yarn\bin\yarn.js
  - node C:\Users\appveyor\AppData\Roaming\npm\node_modules\yarn\bin\yarn.js compile

artifacts:
  - path: C:\vscode\out\VSCode-win32-x64.zip
    name: VisualStudioCode-x64
  - path: C:\vscode\out\VSCode-win32-ia32.zip
    name: VisualStudioCode-ia32